<div class="program row <%= provider_classname(program) %>">
  <div class="col-xs-6 col-sm-4 col-md-2 program-col-thumbnail">
    <div>
      <%= image_tag program.thumbnail_url, class: 'program-thumbnail', alt: '' %>
      <%= status_label(program) %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-8 col-md-2 program-col-voiceactors">
    <ul>
      <% program.voiceactors.each{| v | %>
        <li><%= link_to_voiceactor(v) %></li>
      <% } %>
    </ul>
  </div>
  <div class="col-xs-12 col-md-8 program-col-content">
    <p class="program-start-date">
      <%= full_time_to_s program.start_at %>
    </p>
    <h2><%= link_to CGI.unescapeHTML(program.title), program.url, target: '_blank' %></h2>
    <p><%= CGI.unescapeHTML(program.description) %></p>
  </div>
</div>
