<%
title = @header_label ? "#{@header_label}の検索結果" : '検索結果'
title += '(放送終了)' if params[:finished]
provide :title, title
%>
<h1><%= title %></h1>
<div class="container-fluid container-top">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-9">
      <p><%= pagination_info @programs %></p>
      <div class="pagination-container">
        <%= will_paginate_programs @programs %>
      </div>
      <div class="livestate-tabs-container">
        <ul class="livestate-tabs nav nav-tabs">
          <li class="<%= params.yes?(:finished) ? '' : 'active' %>">
            <%= link_to '放送中・放送予定', programs_version_path(false) %>
          </li>
          <li class="<%= params.yes?(:finished) ? 'active' : '' %>">
            <%= link_to '放送終了', programs_version_path(true) %>
          </li>
        </ul>
      </div>
      <div>
        <%= render partial: 'program', collection: @programs %>
      </div>
      <div class="pagination-container">
        <%= will_paginate_programs @programs %>
      </div>
    </div>
    <div class="col-xs-12 col-md-2 col-lg-3">
      <p><%= render partial: 'common/sidebar' %></p>
    </div>
  </div>
</div>
