<p class="alert alert-info">
  お気に入りが登録されていません。
  名前の横にある<span class="fav-button-unfavved glyphicon glyphicon-heart-empty"></span>をクリックすると登録できます。
  <%= link_to '検索して登録', profile_favorites_path, class: 'btn btn-primary' %>
</p>
