<% provide :title_override, '声ニコ (声優ニコ生検索)' %>
<div class="top-description well well-lg">
  <p>
    声ニコは<a href="http://live.nicovideo.jp/" target="_blank">ニコニコ生放送</a>の声優番組を見逃さないためのWebサービスです。
  </p><p>
    声優をお気に入り登録して見たい番組をチェックしよう！
  </p>
</div>
<div>
  <h2>放送中・もうすぐ放送の番組</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-lg-9">
        <div>
          <%= render partial: 'programs/program', collection: @programs_coming_soon %>
        </div>
        <div style="text-align: right">
          <%= link_to '番組一覧', programs_path, style: '
            font-size : x-large;
          ' %>
        </div>
      </div>
      <div class="col-xs-12 col-md-2 col-lg-3">
        <p><%= render partial: 'common/sidebar' %></p>
      </div>
    </div>
  </div>
</div>
