<% provide :title, '声優検索' %>
<h1>声優検索</h1>
<div class="container-fluid">
  <div class="row voiceactors-search-row">
    <div class="voiceactors-search-container col-sm-10">
      <div data-koenico-ujs="voiceactors-search-form-container"></div>
    </div>
  </div>
  <div class="row">
    <div class="voiceactors-search-col col-sm-3 col-sm-push-3">
      <div id="voiceactor-search-result-container"></div>
    </div>
    <div class="voiceactors-search-col col-sm-3 col-sm-push-3">
      <div id="voiceactor-search-history-container"></div>
    </div>
    <div class="voiceactors-search-col col-sm-3 col-sm-pull-6">
      <ul class="voiceactors-list">
        <% (@favorites || []).each{| v | %>
          <li>
            <%= link_to_voiceactor(v) %>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
