= form_for @contact, html: { class: "form form-horizontal contact" } do |f|
  .form-group
    = f.label :category, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :category, :class => 'form-control'
    = f.error_span(:category)
  .form-group
    = f.label :email, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :email, :class => 'form-control'
    = f.error_span(:email)
  .form-group
    = f.label :message, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :message, :class => 'form-control'
    = f.error_span(:message)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), contacts_path, :class => 'btn'
