<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <%= @prompt %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= form_for @contact, url: contact_public_post_path, html: { class: 'form-horizontal' } do | f | %>
        <%= f.hidden_field :category %>
        <div claass="form-group">
          <div class="">
            <%= f.label :email, 'メールアドレス(任意)', class: 'control-label' %>
          </div>
          <div class="">
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>
        <div claass="form-group">
          <div class="">
            <%= f.label :message, '内容', class: 'control-label' %>
          </div>
          <div class="">
            <%= f.text_area :message, class: 'form-control', rows: 6, resizable: true %>
          </div>
        </div>
        <div style="margin-top: 10px; text-align: right">
          <%= f.submit '送信', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
