- model_class = Contact
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:category) + ':'
  br
  = @contact.category
p
  strong= model_class.human_attribute_name(:email) + ':'
  br
  = @contact.email
p
  strong= model_class.human_attribute_name(:message) + ':'
  br
  = @contact.message

= link_to t('.back', :default => t("helpers.links.back")), contacts_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_contact_path(@contact), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), contact_path(@contact), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
