<%= form_for @manage_voiceactor, :html => { :class => "form-horizontal manage_voiceactor" } do |f| %>

  <% if @manage_voiceactor.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@manage_voiceactor.errors.count, "error") %> prohibited this manage_voiceactor from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @manage_voiceactor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :furigana, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :furigana, :class => 'form-control' %>
    </div>
    <%=f.error_span(:furigana) %>
  </div>
  <div class="form-group">
    <%= f.label :gender, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gender, :class => 'form-control' %>
    </div>
    <%=f.error_span(:gender) %>
  </div>
  <div class="form-group">
    <%= f.label :abstract, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :abstract, :class => 'form-control', :size => "x5" %>
    </div>
    <%=f.error_span(:abstract) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                manage_voiceactors_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
