<%- model_class = ManageVoiceactor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<style> tr:nth-child(n+10){ display : none } </style>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:furigana) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
      <th><%= model_class.human_attribute_name(:abstract) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @manage_voiceactors.each_with_index do |manage_voiceactor,i| %>
      <tr>
        <td><%= link_to manage_voiceactor.id, manage_voiceactor_path(manage_voiceactor) %></td>
        <td><%= manage_voiceactor.name %></td>
        <td><%= manage_voiceactor.furigana %></td>
        <td><%= manage_voiceactor.gender %></td>
        <td><%= manage_voiceactor.abstract %></td>
        <td><%=l manage_voiceactor.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_manage_voiceactor_path(manage_voiceactor), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      manage_voiceactor_path(manage_voiceactor),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_manage_voiceactor_path,
            :class => 'btn btn-primary' %>
