<%- model_class = ManageVoiceactor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @manage_voiceactor.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:furigana) %>:</strong></dt>
  <dd><%= @manage_voiceactor.furigana %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @manage_voiceactor.gender %></dd>
  <dt><strong><%= model_class.human_attribute_name(:abstract) %>:</strong></dt>
  <dd><%= @manage_voiceactor.abstract %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              manage_voiceactors_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_manage_voiceactor_path(@manage_voiceactor), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              manage_voiceactor_path(@manage_voiceactor),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
