.footer {
  margin-top : 2em;
  padding-top : 2em;
  background-color : #FDD;
}

.footer-items-list {
  list-style-type: none;
}

.footer-copyright {
  margin-top : 12px;
  text-align : center;
  font-size : small;
  color : #222;
}

