@import "bootstrap-sprockets";
@import "bootstrap";

.container-top {
  @media (min-width : 768px) {
    margin-left : 20px;
  }
}

a.header-link-to-top {
  &, &:hover, &:active, &:visited, &:focus {
    font-weight : bold !important;
    font-size : x-large !important;
    background-color : lightgreen !important;
    color : black !important;
  }
}

.top-description {
  margin : 0 10px;
  line-height : 2.0;
  border : 1px skyblue solid;
  padding : 20px;
  max-width : 500px;
}


h1 {
  font-size : x-large;
}

.pagination-container {
  margin-left : auto;
  margin-right : auto;
  text-align : center;
}

div.pagination {
  margin : 2px 0;
}


.livestate-tabs-container {

  .livestate-tabs {
    padding-top : 10px;

    font-size : large;

    a {
      color : #555;
    }
    .active {
      font-weight : bold;
    }
  }
}


.program {
  //width : 80%;
  //margin : 8px;
  padding : 4px;

  border-width : 1px 1px 0px 10px;
  border-style : solid;
  border-color : black;

  &:last-child {
    border-bottom-width : 1px;
  }

  ul {
    margin : 5px 0 10px 0;
    padding : 0;
    list-style-type : none;

    li {
      line-height : 1.5;
    }
  }

  h2 {
    line-height : 1;
    font-size : 1.3em;
    margin : 3px 0 8px 0;

    a {
      text-decoration : underline;
      &:visited {
        color : gray;
      }
    }
  }

  .program-thumbnail {
    width : 100%;
    max-width : 192px;
    min-width : 64px;
    display : block;
  }

  .program-start-date {
    font-weight : bold;
    margin : 0;
  }
}

.voiceactor-link {
  font-size : normal;
  font-weight : bold;
}

.program-provider-channel {
  border-left-color : orange;
}

.program-provider-official {
  border-left-color : cyan;
}

// label
.program-status {
  padding : 3px;
}

.program-status-finished {
  background-color : gray;
  color : white;
 }

.program-status-onair {
  background-color : red;
  color : white;
}

.program-status-soon {
  background-color : #CC1;
  color : #FFF;
}
