// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.voiceactors-search-row {
  background-color : #EDE;
  margin : 10px;
}
.voiceactors-search-container {
  padding : 16px;
}
