// Place all the styles related to the Voiceactor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fav-button {
  &, &:hover, /*&:focus,*/ &:visited, &:link {
    border : 0px transparent solid;
    outline : none;
  }

  &:focus {
    outline : 1px dotted #BBB;
  }

}

.fav-button-favved {
  &, &:hover, &:focus, &:visited, &:link {
    color : red;
  }

  &:active {
  }
}

.fav-button-unfavved {
  &, &:hover, &:active, &:focus, &:visited, &:link {
    color : #CCC;
  }

  &:active {
  }
}

.voiceactors-list {
  list-style-type : none;
  line-height : 1.8;
}

.voiceactors-search-row {
  background-color : #EDE;
  margin : 10px;
}
.voiceactors-search-container {
  padding : 16px;
}

.voiceactors-search-col {
  border-bottom : 3px #DDD solid;
}

label {
  /*display : inline !important;*/
}

.form-inline .form-contro {
  display : inline;
}
