<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="footer-items-list">
          <li><%= link_to '登録されていない声優・番組を報告', contact_public_report_path %></li>
          <li><%= link_to '問い合わせ', contact_public_path %></li>
          <li><%= link_to 'CC', '/cc.html', data: {'turbolinks' => 'false'} %></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <p>
        2016 <%= link_to '@leroy_seiyuu', 'https://twitter.com/leroy_seiyuu' %>
      </p>
    </div>
  </div>
</div>
