<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to '声ニコ', root_path, class: 'header-link-to-top' %></li>
      <li><%= link_to 'お気に入り', programs_favorites_path %></li>
      <li><%= link_to '番組一覧', programs_path %></li>
      <li><%= link_to '声優検索', profile_favorites_path %></li>
    </ul>
  </div>
</nav>
