<!DOCTYPE html>
<html>
  <head>
    <title><%=
      yield(:title_override).presence || (
        t = yield(:title)
        t.present? ? (t + " - 声ニコ") : '声ニコ'
      )
    %></title>
    <meta name="description" content="ニコニコ生放送の声優番組を検索">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <%= render partial: 'common/header' %>
    <%= yield %>
    <%= render partial: 'common/footer' %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </body>
</html>
